*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Unica One';
  text-align: center;
  border: none;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.gameboard {
  width: 500px;
  margin: 100px auto;
}
.circle {
  z-index: -1000;
  position: absolute;
  margin: 0;
  background-color: #222;
  border-radius: 100%;
  padding: 5px;
  width: 500px;
  height: 500px;
}

.half-circle {
  display: inline-flex;
}

.button {
  width: 230px;
  height: 230px;
  margin: 5px;
}

.button:hover {
  opacity: .7;
  cursor: pointer;
}

#d1 {
  border-top-left-radius: 100%;
  background: red;
}

#d2 {
  border-top-right-radius: 100%;
  background: yellow;
}

#d3 {
  border-bottom-left-radius: 100%;
  background: green;
}

#d4 {
  border-bottom-right-radius: 100%;
  background: blue;
}

.controls {
  position: absolute;
  margin: 95px;
  z-index: 1000;
  width: 300px;
  height: 300px;
  border: 10px solid #222;
  border-radius: 100%;
  background: black;
  color: white;
}

#game-title {
  font-family: 'Squada One';
  font-size: 5rem;
  margin: 0;
}

.inline {
  display: inline-flex;
  width: 75%;
  margin: -10px 12.5% 0;
  align-items: flex-end;
  justify-content: space-around;
  font-size: .875rem;
  font-weight: bold;
  text-transform: uppercase;
}

#counter {
  font-size: 1.5rem;
  width: 45px;
  padding: 5px 8px;
  margin-bottom: 5px;
  color: red;
  border-radius: 10px;
  background-color: #333;
}

.control-button {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 11px;
  border: 3px solid #444;
  border-radius: 100%;
}

.control-button:hover {
  cursor: pointer;
}

#start-button {
  background-color: green;
}

#strict-button {
  background-color: yellow;
}

#strict-indicator {
  width: 8px;
  height: 8px;
  margin: 7px auto;
  border-radius: 100%;
  background-color: #333;
}
